.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navbar-custom {
  background-color: #FFE4C9 !important;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding-left: 15px;
  padding-right: 15px;
}

.card {
  margin-bottom: 20px;
}

.card-pink-box {
  background-color: #E78895;
  padding: 20px;
  text-align: center;
  border-radius: 20px; /* Rounded corners */
}

.card-pinktan-box {
  background-color: #FFE4C9;
  padding: 20px;
  text-align: center;
  border-radius: 20px; /* Rounded corners */
}

.card-tan-box {
  background-color: #FFE4C9;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px; /* Rounded corners */
}

.card-subtitle {
  font-weight: bold;
}

.student-info-box {
  background-color: #FFF7F1;
  padding: 20px;
  border-radius: 20px;
}

.student-info-container {
  text-align: center;
}

.info-section {
  margin-bottom: 20px;
}

.info-section p {
  margin: 5px 0;
}

.project-introduction {
  margin-bottom: 30px;
}

.project-introduction h2 {
  margin-bottom: 10px;
}

.container {
  padding: 20px;
}

input[type="text"], .btn {
  margin-bottom: 10px;
}